.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: var(--HR-space-8);
}

.spinner {
  width: 64px;
  height: 64px;
  border: 6px solid var(--border);
  border-top-color: var(--primary);
  border-radius: 50%;
  animation: spin .6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
