@import "./utils/reset.css";
@import "./utils/buttons.css";
@import "./utils/spacing.css";
@import "./utils/fields.css";
@import "./utils/heading.css";

:root {
  /* Font family */
  --HR-font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;

  --HR-font-family-heading: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;

  /* theme-color */
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.705 0.213 47.604);
  --primary-foreground: oklch(0.98 0.016 73.684);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --border: #e5e5e5;
  --ring: oklch(0.705 0.213 47.6 / 62.54%);

  /* Font sizes */
  --HR-text-xs: 0.75rem; /* 12px */
  --HR-text-sm: 0.875rem; /* 14px */
  --HR-text-base: 1rem; /* 16px */
  --HR-text-lg: 1.125rem; /* 18px */
  --HR-text-xl: 1.25rem; /* 20px */
  --HR-text-2xl: 1.5rem; /* 24px */
  --HR-text-3xl: 1.875rem; /* 30px */
  --HR-text-4xl: 2.25rem; /* 36px */
  --HR-text-5xl: 3rem; /* 48px */

  /* Headings */
  --HR-h1-size: var(--HR-text-4xl);
  --HR-h2-size: var(--HR-text-3xl);
  --HR-h3-size: var(--HR-text-2xl);
  --HR-h4-size: var(--HR-text-xl);
  --HR-h5-size: var(--HR-text-lg);
  --HR-h6-size: var(--HR-text-base);

  /* Font weights */
  --HR-font-light: 300;
  --HR-font-normal: 400;
  --HR-font-medium: 500;
  --HR-font-semibold: 600;
  --HR-font-bold: 700;

  /* Spacing scale */
  --HR-space-0: 0;
  --HR-space-1: 0.25rem; /* 4px */
  --HR-space-2: 0.5rem; /* 8px */
  --HR-space-3: 0.75rem; /* 12px */
  --HR-space-4: 1rem; /* 16px */
  --HR-space-5: 1.25rem; /* 20px */
  --HR-space-6: 1.5rem; /* 24px */
  --HR-space-8: 2rem; /* 32px */
  --HR-space-10: 2.5rem; /* 40px */
  --HR-space-12: 3rem; /* 48px */
  --HR-space-16: 4rem; /* 64px */

  /* Container widths */
  --HR-container-xs: 320px;
  --HR-container-sm: 640px;
  --HR-container-md: 768px;
  --HR-container-lg: 1024px;
  --HR-container-xl: 1280px;

  /* radius widths */
  --HR-radius-sm: 4px;
  --HR-radius-md: 8px;
  --HR-radius-lg: 16px;
  --HR-radius-xl: 24px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--HR-font-family-base);
  font-weight: var(--HR-font-normal);
  background-color: var(--background);
  color: var(--HR-neutral-dark);
  letter-spacing: 0.5px;
  line-height: 1.5;
}
#root {
  max-width: var(--HR-container-xl);
  margin: 0 auto;
}
