/* spacing.css */

.m-0   { margin: 0; }
.mt-0  { margin-top: 0; }
.mr-0  { margin-right: 0; }
.mb-0  { margin-bottom: 0; }
.ml-0  { margin-left: 0; }

.m-1   { margin: var(--HR-space-1); }
.mt-1  { margin-top: var(--HR-space-1); }
.mr-1  { margin-right: var(--HR-space-1); }
.mb-1  { margin-bottom: var(--HR-space-1); }
.ml-1  { margin-left: var(--HR-space-1); }
.my-1  { margin: var(--HR-space-1) 0;}
.mx-1  { margin: 0 var(--HR-space-1);}

.m-2   { margin: var(--HR-space-2); }
.mt-2  { margin-top: var(--HR-space-2); }
.mr-2  { margin-right: var(--HR-space-2); }
.mb-2  { margin-bottom: var(--HR-space-2); }
.ml-2  { margin-left: var(--HR-space-2); }
.my-2  { margin: var(--HR-space-2) 0;}
.mx-2  { margin: 0 var(--HR-space-2);}

.m-3   { margin: var(--HR-space-3); }
.mt-3  { margin-top: var(--HR-space-3); }
.mr-3  { margin-right: var(--HR-space-3); }
.mb-3  { margin-bottom: var(--HR-space-3); }
.ml-3  { margin-left: var(--HR-space-3); }
.my-3  { margin: var(--HR-space-3) 0;}
.mx-3  { margin: 0 var(--HR-space-3);}

.m-4   { margin: var(--HR-space-4); }
.mt-4  { margin-top: var(--HR-space-4); }
.mr-4  { margin-right: var(--HR-space-4); }
.mb-4  { margin-bottom: var(--HR-space-4); }
.ml-4  { margin-left: var(--HR-space-4); }
.my-4  { margin: var(--HR-space-4) 0;}
.mx-4  { margin: 0 var(--HR-space-4);}


/* Padding */
.p-0   { padding: 0; }
.pt-0  { padding-top: 0; }
.pr-0  { padding-right: 0; }
.pb-0  { padding-bottom: 0; }
.pl-0  { padding-left: 0; }

.p-1   { padding: var(--HR-space-1); }
.pt-1  { padding-top: var(--HR-space-1); }
.pr-1  { padding-right: var(--HR-space-1); }
.pb-1  { padding-bottom: var(--HR-space-1); }
.pl-1  { padding-left: var(--HR-space-1); }
.py-1  { padding: var(--HR-space-1) 0;}
.px-1  { padding: 0 var(--HR-space-1);}

.p-2   { padding: var(--HR-space-2); }
.pt-2  { padding-top: var(--HR-space-2); }
.pr-2  { padding-right: var(--HR-space-2); }
.pb-2  { padding-bottom: var(--HR-space-2); }
.pl-2  { padding-left: var(--HR-space-2); }
.py-2  { padding: var(--HR-space-2) 0;}
.px-2  { padding: 0 var(--HR-space-2);}

.p-3   { padding: var(--HR-space-3); }
.pt-3  { padding-top: var(--HR-space-3); }
.pr-3  { padding-right: var(--HR-space-3); }
.pb-3  { padding-bottom: var(--HR-space-3); }
.pl-3  { padding-left: var(--HR-space-3); }
.py-3  { padding: var(--HR-space-3) 0;}
.px-3  { padding: 0 var(--HR-space-3);}

.p-4   { padding: var(--HR-space-4); }
.pt-4  { padding-top: var(--HR-space-4); }
.pr-4  { padding-right: var(--HR-space-4); }
.pb-4  { padding-bottom: var(--HR-space-4); }
.pl-4  { padding-left: var(--HR-space-4); }
.py-4  { padding: var(--HR-space-4) 0;}
.px-4  { padding: 0 var(--HR-space-4);}

.p-5   { padding: var(--HR-space-5); }
.pt-5  { padding-top: var(--HR-space-5); }
.pr-5  { padding-right: var(--HR-space-5); }
.pb-5  { padding-bottom: var(--HR-space-5); }
.pl-5  { padding-left: var(--HR-space-5); }
.py-5  { padding: var(--HR-space-5) 0;}
.px-5  { padding: 0 var(--HR-space-5);}
