.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: var(--HR-space-4);
    border-radius: var(--HR-radius-lg);
    margin: 1rem;
}

.nav .logo{
    font-size: var(--HR-h2-size);
    font-weight: var(--HR-font-bold);
    color: var(--primary);
    text-decoration: none;
    fill: var(--primary);
    stroke: var(--primary);
}
.nav .link{
    color: white;
    font-size: var(--HR-text-sm);
    text-decoration: none;
}