.dataTableContainer {
  position: relative;
  width: var(--HR-container-xl);
  padding: var(--HR-space-8);
}

.dataTable {
  width: 100%;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--HR-radius-lg);
  overflow-x: auto;
}
.dataTable .table {
  table-layout: fixed;
  width: 100%;
  min-width: 1024px;
  font-size: var(--HR-text-sm);
}
@media (max-width: 1290px) {
  .dataTableContainer {
    width: auto;
  }
  .dataTable{
    width:100%;
    min-width:100%;
  }
  .dataTable .table {
    width: 100%;
  }
}
.dataTable .capitalize {
  text-transform: capitalize;
}
.dataTable .tableHead {
  color: var(--foreground);
  height: var(--HR-space-10);
  padding: var(--HR-space-4);
  text-align: left;
  font-weight: var(--HR-font-semibold);
  word-wrap: break-word;
  vertical-align: middle;
}
.dataTable .tableHead span {
  width: 11px;
}

.dataTable tr:hover {
  background-color: var(--accent);
}
.dataTable tr.tableRow {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: var(--border);
  &:last-child {
    border-width: 1px 0 0 0;
  }
  &:first-child {
    border-width: 0 0 1px 0;
  }
}
.dataTable .noResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--HR-space-2);
  font-weight: var(--HR-font-bold);
  font-size: var(--HR-h2-size);
}

.dataTable .tableCell {
  padding: var(--HR-space-4);
  vertical-align: middle;
  overflow: hidden;
  white-space: collapse;
  text-overflow: "...";
}
.dataTableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropDownContainer {
  min-width: 60px;
}
